<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>VOD Demo Players</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />

    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/Scripts/knockout-postbox.js")

    @Scripts.Render("~/bundles/app/common")

    @RenderSection("Scripts", required: false)
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
    <div class="container alt">
        @Html.Partial("_AssetLibrary")
    </div>
    <footer>
        <p>&copy; @DateTime.Now.Year - Microsoft Azure Media Services</p>
    </footer>
</body>
</html>